asgiref==3.8.1
beautifulsoup4==4.13.3
dj-database-url==2.3.0
Django==5.1.1
django-crispy-forms==2.3
django-tinymce==4.1.0
Faker==33.1.0
gunicorn==23.0.0
packaging==25.0
pillow==11.0.0
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
pytube==15.0.0
six==1.17.0
soupsieve==2.6
sqlparse==0.5.1
translator==0.0.9
typing_extensions==4.12.2
tzdata==2024.2
whitenoise==6.9.0
